---
import Download from "../icons/Download.astro";
---

<a
      href="#"
      rel="noopener noreferrer"
      class="group inline-flex items-center px-3 py-2 border border-gray-600 rounded-full focus:z-10 bg-gray-800 bg-opacity-95 hover:text-emerald-500 duration-300 gap-2"
    >
      <Download />
        Descargar CV
    </a>