---

---

<footer class="flex flex-col justify-center items-center w-full p-4 pb-6 bg-gradient-to-r from-slate-900 to-slate-700">
    <div class="flex flex-col justify-center items-center leading-tight">
        <p class="my-2 text-base">
            Rodrigo Rodríguez
        </p>
        <p class="-my-2 text-sm text-emerald-500">
            @kpuxinnodev
        </p>
    </div>
</footer>